/* playfair font */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
/* geist font */
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
  /* font family */
  --font-geist: "Geist";
  --font-playfair: "Playfair Display";

  /* font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* colors */
  --color-background: #fcfcfc;
  --color-brand: #1753a2;
  --color-white: #fff;
  --color-black: #1a1a1a;
  --color-gray: #474747;
  --color-danger: #fe8c8c;
  --color-danger-dark: #470000;
  --color-error-text: #850007;
  --color-sucess: #77ef71;
  --color-sucess-dark: #044c00;
  --color-gray-opacity: rgba(71, 71, 71, 0.8);

  /* font size */
  --text-size-xl: 3rem;
  --text-size-md: 1.25rem;
  --text-size-base: 1rem;
  --text-size-xs: 0.875rem;

  /* gap */
  --gap-xs: 4px;
  --gap-sm: 8px;
  --gap-md: 12px;
  --gap-base: 16px;
  --gap-lg: 20px;
  --gap-xl: 24px;

  /* border */
  --border-xs: 4px;

  /* transition */
  --smooth-transition: all 0.4s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Geist", sans-serif;
  color: var(--color-black);
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  font-family: var(--font-geist);
}

input:placeholder {
  font-family: inherit;
  color: rgba(0, 0, 0, 0.3);
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: 16px;
}
