/* import prata */
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
/* import geist */
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
  /* font family */
  --font-serif: "Prata", serif;
  --font-sans-serif: "Geist", sans-serif;

  /* font size */
  --fs-h1: 2.986rem;
  --fs-h2: 2.488rem;
  --fs-h3: 2.074rem;
  --fs-h4: 1.728rem;
  --fs-h5: 1.44rem;
  --fs-h6: 1.2rem;
  --fs-base: 1rem;
  --fs-sm: 0.833rem;
  --fs-caption: 0.694rem;

  /* font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}
