.link {
  font-size: var(--fs-sm);
  font-weight: var(--font-weight-medium);
  color: var(--color-gray);
  transition: var(--smooth-transition);
}

.link:hover {
  color: var(--color-brand);
  text-decoration: underline;
}

.logo {
  font-size: var(--fs-h6);
  font-family: var(--font-serif);
  font-weight: var(--font-weight-bold);
  color: var(--color-brand);
  transition: var(--smooth-transition);
  cursor: pointer;
}

.logo:hover {
  opacity: 0.8;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

/* title */
.title {
  font-family: var(--font-serif);
}

.title--brand {
  font-family: var(--font-serif);
  color: var(--color-brand);
}

/* badges */
.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
  font-size: var(--fs-sm);
  font-weight: var(--font-weight-semi-bold);
  min-width: 20px;
  min-height: 20px;
  gap: var(--gap-md);
  padding: var(--gap-xs) var(--gap-sm);
  border-radius: var(--radius-infinite);
}

/* game badges */
.badge--nintendo {
  border: 1px solid var(--color-nintendo);
  color: var(--color-nintendo);
  background-color: var(--color-nintendo-bg);
}

.badge--playstation {
  border: 1px solid var(--color-playstation);
  color: var(--color-playstation);
  background-color: var(--color-playstation-bg);
}

.badge--xbox {
  border: 1px solid var(--color-xbox);
  color: var(--color-xbox);
  background-color: var(--color-xbox-bg);
}

.badge--pc {
  border: 1px solid var(--color-pc);
  color: var(--color-pc);
  background-color: var(--color-pc-bg);
}

.badge--mobile {
  border: 1px solid var(--color-mobile);
  color: var(--color-mobile);
  background-color: var(--color-mobile-bg);
}

.badge--steam-deck {
  border: 1px solid var(--color-steam-deck);
  color: var(--color-steam-deck);
  background-color: var(--color-steam-deck-bg);
}

/* status badge */
.badge--dont-started {
  border: 1px solid var(--color-dont-started);
  color: var(--color-dont-started);
}

.badge--completed {
  border: 1px solid var(--color-completed);
  color: var(--color-completed);
}

.badge--wishlist {
  border: 1px solid var(--color-wishlist);
  color: var(--color-wishlist);
}

.badge--replaying {
  border: 1px solid var(--color-replaying);
  color: var(--color-replaying);
}

.badge--playing {
  border: 1px solid var(--color-playing);
  color: var(--color-playing);
}

/* system messages */
.color-error {
  color: var(--color-danger);
}

.color-error--dark {
  color: var(--color-danger-dark);
}

.color-info {
  color: var(--color-info);
}

.color-info--dark {
  color: var(--color-info-dark);
}
