.add-game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100dvh;
}

.add-game__heading {
  margin-bottom: var(--gap-xxl);
}

.add-game__form {
  width: 100%;
  max-width: var(--screen-tablet);
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.add-game__label {
  width: 100%;
  margin-bottom: var(--gap-xs);
}

.add-game__input {
  width: 100%;
  border-radius: var(--radius-xs);
}

.add-game__select {
  border-radius: var(--radius-xs);
  border: var(--border-input);
  padding-left: var(--gap-sm);
}
