.home {
  margin-block: var(--gap-big);
}

.home__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-xs);
  margin-inline: auto;
  width: 100%;
  margin-bottom: var(--gap-big);
}

.home__title {
  margin-bottom: var(--gap-md);
  color: var(--color-gray);
}

.home__input {
  width: 100%;
  max-width: 532px;
  margin-bottom: var(--gap-xs);
  border-radius: var(--radius-xs);
}

.home__button {
  width: 100%;
  max-width: 532px;
}

.home__cards {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--gap-big) var(--gap-xl);
  margin-bottom: var(--gap-big);
}

@media screen and (min-width: 500px) {
  .home__cards {
    grid-template-columns: repeat(1, 400px);
  }
}

@media screen and (min-width: 660px) {
  .home__cards {
    grid-template-columns: repeat(2, 310px);
  }
}
@media screen and (min-width: 985px) {
  .home__cards {
    grid-template-columns: repeat(3, 310px);
  }
}
