.login {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.login__heading {
  margin-bottom: var(--gap-xl);
}

.login__form {
  width: 100%;
  max-width: var(--screen-phone);
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  margin-bottom: 1rem;
}

.login__input {
  border-radius: var(--radius-xs);
}

.login__create-account {
  color: var(--color-brand);
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
  transition: var(--smooth-transition);
}

.login__create-account:hover {
  color: var(--color-black);
}
