.not-found {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.not-found__content {
  display: flex;
  flex-direction: column;
}

.not-found__title {
  font-size: 8rem;
  margin-bottom: var(--gap-xs);
  color: var(--color-gray);
}

.not-found__text {
  font-size: 1.5rem;
  margin-bottom: var(--gap-md);
}
