:root {
  --color-playing: #084298;
  --color-completed: #155724;
  --color-wishlist: #856404;
  --color-replaying: #383d41;
  --color-dont-started: #721c24;
}

.playing {
  color: var(--color-playing);
  border: 1px solid var(--color-playing);
}

.completed {
  color: var(--color-completed);
  border: 1px solid var(--color-completed);
}

.wishlist {
  color: var(--color-wishlist);
  border: 1px solid var(--color-wishlist);
}

.replaying {
  color: var(--color-replaying);
  border: 1px solid var(--color-replaying);
}

.dontStarted {
  color: var(--color-dont-started);
  border: 1px solid var(--color-dont-started);
}
