.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--gap-md) var(--gap-sm);
  font-size: var(--fs-base);
  font-weight: var(--font-weight-bold);
  border-radius: var(--radius-xs);
  gap: var(--gap-xs);
  cursor: pointer;
  border: none;
  transition: var(--smooth-transition);
}

.button:hover {
  opacity: 0.9;
}

.button--default {
  color: var(--color-background);
  background-color: var(--color-brand);
}

.button--ghost {
  color: var(--color-brand);
  border: 1px solid var(--color-brand);
  background-color: transparent;
}

.button--ghost:hover {
  color: var(--color-white);
  background-color: var(--color-brand);
}

.button--danger {
  color: var(--color-danger-dark);
  background-color: var(--color-danger);
}

.button--danger:hover {
  color: var(--color-danger);
  background-color: var(--color-danger-dark);
}

.button--success {
  color: var(--color-sucess-dark);
  background-color: var(--color-sucess);
}

.button--success:hover {
  color: var(--color-sucess);
  background-color: var(--color-sucess-dark);
}
