.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 64px;
  padding-inline: var(--gap-base);
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 8px 10px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 8px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 10px -2px rgba(0, 0, 0, 0.1);
}

.navbar__links-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap-md);
  list-style: none;
}

.navbar__logout {
  width: fit-content;
  padding: var(--gap-xs);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: var(--radius-xs);
  color: var(--color-black);
  background-color: var(--color-light-blue);
  transition: var(--smooth-transition);
}

.navbar__logout:hover {
  color: var(--color-white);
  background-color: var(--color-brand);
}

.navbar__logout:focus {
  box-shadow: var(--shadow-input);
}
