.rich-text-editor {
  padding: var(--gap-md);
  border-radius: var(--radius-xs);
}

.editor-toolbar {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  padding-bottom: var(--gap-md);
  margin-bottom: var(--gap-md);
}

.editor-toolbar button {
  min-height: 32px;
  min-width: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-base);
  margin-right: 8px;
  padding: 4px 8px;
  border: none;
  border-radius: var(--radius-xs);
  cursor: pointer;
  color: var(--color-brand);
  background-color: #eee;
  transition: var(--smooth-transition);
}

.editor-toolbar button.is-active {
  background-color: var(--color-brand);
  color: var(--color-white);
}
