.game-card-container {
  max-width: 100%;
  display: flex;
  gap: var(--gap-md);
  flex-direction: column;

  .game-card-container--with-image {
    width: 310px;
    height: 206px;
    overflow: hidden;
    border-radius: var(--radius-xs);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .game-card-container--without-image {
    width: 310px;
    height: 206px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: var(--radius-xs);
    background-color: var(--color-light-blue);

    span {
      display: inline-block;
      max-width: 30ch;
      word-break: break-all;
      padding: var(--gap-xs);
      font-size: var(--fs-h6);
      font-weight: var(--font-weight-bold);
      text-align: center;
      margin-inline: auto;
      color: var(--color-brand);
    }
  }
}

.game-card__title {
  font-size: var(--text-size-md);
  font-weight: var(--font-weight-bold);
  text-transform: capitalize;
  color: var(--color-black);
  word-break: break-all;
}

.game-card-info {
  display: inline-flex;
  gap: var(--gap-sm);
  align-items: center;
  justify-content: flex-start;
}
