.heading {
  width: 100%;
  height: 78px;
  background-color: var(--color-white);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}

.nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  ul {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.navList {
  li {
    padding: 4px;
  }

  .logout {
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-xs);
    transition: var(--smooth-transition);
    border: none;
    cursor: pointer;
    color: var(--color-gray);
    background-color: transparent;

    &:hover {
      color: var(--color-white);
      background-color: var(--color-brand);
    }
  }
}

.logo {
  font-family: var(--font-playfair);
  font-weight: var(--font-weight-bold);
  font-size: var(--text-size-md);
  color: var(--color-brand);
  cursor: pointer;
}
